In [1]:
%load_ext sql
%sql sqlite:///PS2.db

'Connected: @PS2.db'

Problem Set #2
=======

### Deliverables:

Submit your answers using the `submission_template.txt` file that is posted on the class website. Follow the instructions on the file! Upload the file at Canvas (under PS2).


### Instructions / Notes:

**_Read these carefully_**

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* _Have fun!_

Problem 1: Verifying Functional Dependencies [24 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [2]:
%sql select * from hospital LIMIT 2;

 * sqlite:///PS2.db
Done.

[(10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-INF-1')]

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition _doesn't hold_, your query should return something non-empty, but it doesn't matter what this is.

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [14 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [3]:
%%sql 
SELECT hospital.provider as provider, COUNT(*) as count
FROM hospital
GROUP BY hospital.provider
HAVING count > 1;

 * sqlite:///PS2.db
Done.

[(10001, 25),
 (10005, 25),
 (10006, 25),
 (10007, 25),
 (10008, 25),
 (10009, 25),
 (10010, 25),
 (10011, 25),
 (10012, 25),
 (10015, 25),
 (10016, 25),
 (10018, 25),
 (10019, 25),
 (10021, 25),
 (10022, 25),
 (10023, 25),
 (10024, 25),
 (10025, 25),
 (10027, 25),
 (10029, 25),
 (10032, 25),
 (10033, 25),
 (10034, 25),
 (10035, 25),
 (10036, 25),
 (10038, 28),
 (10039, 28),
 (10040, 25),
 (10043, 25),
 (10044, 25),
 (10045, 25),
 (10046, 28),
 (10047, 25),
 (10049, 25),
 (10050, 20),
 (10055, 17),
 (10056, 5),
 (10086, 25),
 (10087, 13),
 (10108, 20),
 (10158, 2),
 (10164, 18),
 (20017, 18),
 (20018, 2)]

### Part (b) [10 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [5]:
%%sql
SELECT zip, COUNT(*) as count
FROM(SELECT DISTINCT zip, state, city
FROM hospital)
GROUP BY zip
HAVING count > 1;

 * sqlite:///PS2.db
Done.

[]

Problem 2: Superkeys & Decompositions [40 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [8 points]

Is it correct that ${A,B}$ is a superkey?

In [68]:
answer = True
explanation = "Because, based on the Closure Algorithm, A's closure is {A,D,E,C,F}. Then, based on ARMSTRONG’S AXIOMS 2, the closure of {A,B} is {A,B,C,D,E,F}, which is thet set of all attributes."

### Part (b) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

In [72]:
answer = False
explanation = "Becuase the final result based on Chase Algorithm is: row 1: A, B, C, D1, E, F; row 2: A2, B2, C, D, E, F2; row 3: A, B3, C, D1, E, F. and since all FDs are satisfied, the Chase Algorithm terminates. However, there does not exist a row with all data without a subscription. Therefore, it is not lossless-join."

### Part (c) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

In [78]:
answer = False
explanation = "Because the FDs of ABC is: {A} -> {C}; the FDs of CDE is: {D} -> {C}; the FDs of EFA is {A} -> {E, F}. After enforcing the FDs of each of these subrelations, we cannot logically imply the FD: {A} -> {D} and FD: {D} -> {F} from relation S any more. Thus, it is not dependency preserving."

### Part (d) [8 points]

Is the functional dependency $\{A\} \rightarrow \{C,F\}$ logically implied by FDs present in the relation?

In [73]:
answer = True
explanation = "Because we have FD: {A} -> {D}, and {D} -> {C}, {D}-> {F}. Therefore, based on ARMSTRONG’S AXIOMS 3, we have {A}->{C} and {A}->{F}. Thus, {A}->{C,F}."

### Part (e) [8 points]

Is it correct that relation $S$ is in BCNF?

In [74]:
answer = False
explanation = "Bacause {A} -> {D} is a non-trivial FD of S. However, {A} is not a superkey, since the closure of {A}, which is {A,D,E,C,F} from the Closure Algorithm, does not contain B. Therefore, the definition of BCNF is violated."

Problem 3: Relational Algebra [36 points]
---------

Consider the following relational schema:
*  `JournalArticle(articleID, title, journal, volume, year, month)`
*  `ConferenceArticle(articleID, title, conference, year, location)`
*  `Person(name, affiliation)`
*  `Author(name, articleID)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [9 points]

Output the names of everyone who is affiliated with `UW-Madison` and who has submitted during 2018 at least one journal article, but no conference articles:

$$(\pi_{name}(\sigma_{year="2018"}(JournalArticle)\bowtie Author) - \pi_{name}(\sigma_{year="2018"}(ConferenceArticle) \bowtie Author)) \cap \pi_{name}(\sigma_{affiliation = "UW-Madison"}(Person))$$

### Part (b) [9 points]

Output the names of the people who coauthored an article (in a journal or conference) with `John Doe`. Be careful: a person cannot be coauthor with herself!

$$(\pi_{name}(\pi_{articleID}(\sigma_{name = "John Doe"}(Author)) \bowtie Author)) - (\pi_{name}(\sigma_{name = "John Doe"}(Author)))$$

### Part (c) [9 points]

Count how many journal *or* conference articles were published in 2018 by `John Doe`.

$$\gamma_{COUNT(articleID)}((\pi_{articleID}(\sigma_{year = "2018"}(\sigma_{name = "John Doe"}(Author)\bowtie JournalArticle))) \cup (\pi_{articleID}(\sigma_{year = "2018"}(\sigma_{name = "John Doe"}(Author)\bowtie ConferenceArticle))))$$

### Part (d) [9 points]

Output the names of everyone who published at least as many conference as journal papers during every year in the span from 2000 to 2018 (including 2000 and 2018).

$$EffectiveYears = \pi_{year}((\sigma_{year >= 2000}(JournalArticle)) \cup ((\sigma_{year <= 2018}(JournalArticle))))$$
$$AuthorConferenceInfo = \rho_{COUNT(articleID)-> ConferenceCount}(\gamma_{name, year, COUNT(articleID)}(Arthor \bowtie ConferenceArticle))$$
$$AuthorJournalInfo = \rho_{COUNT(articleID)-> JournalCount}(\gamma_{name, year, COUNT(articleID)}(Arthor \bowtie JournalArticle))$$
$$AuthorYearsWithBothConferenceAndJournal = AuthorConferenceInfo \bowtie AuthorJournalInfo$$
$$ResultAuthorYear = \pi_{name, year}(\sigma_{CounferenceCount >= JournalCount}(AuthorYearsWithBothConferenceAndJournal))$$
$$AuthorYearsWithConference = \pi_{name, year}(AuthorConferenceInfo)$$
$$AuthorYearsWithJournal = \pi_{name, year}(AuthorJournalInfo)$$
$$TotalPersonYears = \pi_{name, year}(Person \times EffectiveYears)$$
$$PersonYearsNoConference = TotalPersonYears - AuthorYearsWithConference$$
$$PersonYearsNoJournal = TotalPersonYears - AuthorYearsWithJournal$$
$$ResultAuthorYear = ResultAuthorYear \cup (PersonYearsNoConference \cap PersonYearsNoJournal)$$
$$ResultAuthorYear = ResultAuthorYear \cup (AuthorYearsWithConference - PersonYearsNoJournal)$$
$$Result = ResultAuthorYear / EffectiveYears$$